body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
  font-size: 16px;
  background-color: #f2f5f9;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  color: rgb(55, 65, 81);
  text-decoration: underline;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 26.25em;
  background-color: #fff;
  border-radius: 12px;
}

.card__content {
  padding-inline: 2em;
}

.card__content-title {
  margin-top: 0;
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: -1px;
  color: #111729;
}

.card__content-text {
  margin-bottom: 1.5em;
  font-size: 1em;
  color: #4a5567;
  text-wrap: pretty;
  line-height: 1.5;
}

.card__content hr {
  margin-inline: -2em;
  color: #f2f5f9;
  opacity: 0.1;
}

.card__hero-image img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__hero-image + img {
  position: absolute;
  width: 100%;
  bottom: -1px;
}

.card__image-container {
  position: relative;
}

.card__image-container, .card__image-container img {
  display: block;
}

.card__author-info {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: end;
  padding: 25px 5px;
}

.person-info > p {
  margin: 0;
  color: #111729;
  font-weight: bold;
}

.person-info > p + p {
  color: #4a5567;
  font-weight: 400;
}

.avatar-image img {
  width: 35px;
  border-radius: 50%;
  aspect-ratio: 1;
}
